<html class="bodycenter">
    <head>
        <title>Admin Login</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body class="bodycenter">
        <div class="container_admin">
            
            <form action="/admin/login" method="post">
                <i class="fa fa-user fa-5x"></i>
                <h1 class="h1">Admin Login</h1>
                <input type="email" name="username" placeholder="Enter the Login Id" class="inp" required><br><br>
                <input type="password" name="pass" placeholder="Enter the password" class="inp" required><br><br>
                <input type="submit" value="Login" class="btn" ><br><br>
                <a href="/" class="btn">Back</a>
                <%if(typeof message !== 'undefined'&&message){%>
                    <p id="message" style="visibility: visible;"><%=message%></p>
                <%}%>
            </form>
        </div>
        
    </body>
</html>