<!-- <!DOCTYPE html> -->
<html class="bodycenter">
    <head>
        <title>Feedback Wall</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Poppins:wght@400;600&display=swap" rel="stylesheet">

    </head>
    <body class="bodycenter">
        
        <div class="container">
            <img src="/images/voices.png" alt="voices in ink" class="logo"> 
            <header>
                <span>Voices in Ink</span>
                <p class="tagline"><i><b>Where voices find ink, and ink finds change.</b></i></p>
                
                <hr>
            </header>

            <div class="cta">
                <a href="/feedback/" class="btn">Give Feedback</a>
            </div>

            <footer>
                <i class="fa fa-lock" id="fa_Icon"></i>
                <a href="/admin/login" class="admin-link">Admin Login</a>
            </footer>
       </div>
    </body>
</html>   