.bodyCenter {
  /* height: 100%; */
  margin: 0;
  padding: 0;
  background-color: rgb(35, 22, 16); 
  font-family: 'Inter', sans-serif;
  color: rgb(35, 22, 16);
  display: flex;
  overflow: visible;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  text-align: center;
  width: 500px;
  padding: 40px;
  background-color: rgb(240, 240, 201); 
  border-radius: 20px;
  border: 2px solid brown;
  box-shadow: 0px 0px 60px black;
}

header span {
  font-family: 'DM Serif Display', serif;
  font-size: 60px;
  margin-bottom: 10px;
  color: rgb(35, 22, 16);
}

.logo{
  width: 60px; 
  height: 200px;
  width: 200px;
  border: 2px solid brown;
  border-radius: 100px;
  box-shadow: 0px 0px 60px black;
  position: absolute;
  top: -60px;        
  right: -80px;      
  z-index: 10;
}

.logo1{
  width: 60px; 
  height: 200px;
  width: 200px;
  border: 2px solid brown;
  border-radius: 100px;
  box-shadow: 0px 0px 60px black;
}

.tagline {
  font-size: 20px;
  color: brown;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 20px;
}

hr {
  border: none;
  border-top: 1px solid rgb(35, 22, 16);
  margin: 20px auto;
  width: 60%;
}

.cta {
  margin: 30px 0;
}

.btn {
  text-decoration: none;
  padding: 15px 40px;
  font-size: 18px;
  border-radius: 8px;
  background-color: rgb(35, 22, 16);
  color: beige;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-block;
}

.btn:hover {
  background-color: rgb(67, 39, 26);
  transform: scale(1.05);
}

.admin-link {
  font-size: 15px;
  color: rgb(39, 26, 20);
  text-decoration: underline;
  transition: color 0.2s ease;
}

.admin-link:hover {
  color: rgb(90, 38, 12);
}

/* #fa_Icon{
  color: #2b2118;
} */

.inp {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.h1 {
  font-family: 'DM Serif Display', serif;
  font-size: 45px;
}

.container2 {
  height: auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 700px;
  padding: 40px;
  background-color: beige;
  border-radius: 20px;
  border: 2px solid brown;
  box-shadow: 0px 0px 40px black;
}

.feed-span {
  font-family: 'DM Serif Display', serif;
  font-size: 60px;
  margin-bottom: 10px;
  color: rgb(35, 22, 16);
}

textarea {
  background-color: #2b2118;
  color: beige;
  border-radius: 5px;
  box-shadow: 0px 0px 40px black;
  border-color: #cbb89d;
  width: 540px;
}

.tagline2 {
  font-size: 20px;
  text-align: center;
  color: brown;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 20px;
}

.category {
  background-color: #2b2118;
  color: beige;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid beige;
  box-shadow: 0px 0px 40px black;
}

.left, .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left label {
  text-align: left;
}

.left label:hover {
  color: beige;
}

.right input {
  text-align: right;
  background-color: #5e4d3c;
  color: beige;
  max-width: 100px;
}

.right input:hover {
  color: #3a2f25;
  background-color: beige;
}

.tag3 {
  font-size: 17px;
  color: brown;
  font-family: 'Times New Roman', Times, serif;
}

#success {
  visibility: hidden;
  color: rgb(235, 124, 55);
}

.feedback-msg {
  background-color: rgb(176, 66, 15);
  border-radius: 5px;
  text-align: left;
  padding: 2px 2px 10px 10px;
  margin-bottom: 5px;
  color: beige;
  box-shadow: 0px 0px 40px black;
  border: 1px solid #cbb89d;
}

.feedback-msg:hover{
  background-color: rgb(56, 24, 9);
}

.likebtn,.dislikebtn{
  background-color: #2b2118;
  color: #cbb89d;
}

.likebtn:hover,.dislikebtn:hover{
  transform: scale(1.05);
  /* background-color: brown; */
}

.feedFoot{
  margin-top: 50px;
  font-size: 18;
  font-family: 'Times New Roman', Times, serif;
}


.container_admin {
  position: relative;
  text-align: center;
  width: 300px;
  padding: 40px;
  background-color: rgb(240, 240, 201); 
  border-radius: 20px;
  border: 2px solid brown;
  box-shadow: 0px 0px 60px black;
}

#admin{
  background-color: black;
  color: burlywood;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8e3904;
  padding: 10px 30px;
  color: #fff;
  box-shadow: 0 4px 10px beige;
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navLinks{
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  }

.navLinks li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s;
}

.navLinks li a:hover {
  color: #FFD93D;
}

.logo2{
  height: 150px;
  width: 150px;
  border: 2px solid brown;
  border-radius: 100px;
  box-shadow: 0px 0px 60px black;
  margin-left: 20px;
}

.adminHeading{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 60px;
  margin-bottom: 70px;
  text-align: center;
}


.chartsContainer{
  display: flex;
  gap: 70px;
  justify-content: center;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.cardContainer{
  margin-bottom: 60px;
  text-align: center;
}

.cardValue{
  display: inline-block;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  padding: 2px 4px 2px 2px;
  transition: transform 0.3s ease;
}

.cardValue:hover{
  transform: scale(1.2);
}

.card{
  display: inline-block;
  border-right: 2px solid burlywood;
  padding-right: 20px;
  padding-left: 15px;
}

.cardRight{
  display: inline-block;
  padding-left: 15px;

}

.customContainer{
  position: relative;
}

#customRangeBtn{
  height: 30px;
  width: 170px;
  font-size: 15px;
  border-radius: 8px;
  background-color: rgb(181, 87, 15);
  color: beige;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 5px #cbb89d;
  display: inline-block;
  position: absolute;
  top: 50px;
  right: 100px;
}

#customRangeBtn:hover{
  background-color: rgb(230, 120, 37);
  transform: scale(1.05);
}

#customRangeChart{
  position: absolute;
  top: 100px;
  right: 50px
}

.customInput{
  background-color: beige;
  color: #2b2118;
  border-radius: 8px;
  width: 145px;
  height: 28px;
  text-align: center;
}

.adminFoot{
  margin-top: 50px;
  font-size: 18;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  background-color: #8e3904;
  color: white;
  padding: 8px 2px 8px 2px;
  box-shadow: 0 2px 5px beige;
}